'context-menu':
  '.entries.list-tree .header.list-item, .header.list-item.project-root-header':[
    label: 'Jee Utilities',
    submenu:[
        {
            label: 'New Jee File'
            submenu:[
                {label: 'Jee Servlet', command: 'atom-jee-utilities:ecrireServlet'}
                {label: 'Jee Listener', command: 'atom-jee-utilities:ecrireListener'}
                {label: 'Jee Filter', command: 'atom-jee-utilities:ecrireFilter'}
            ]
        }
        # {label: 'Ecrire', command: 'atom-jee-utilities:ecrire'}
    ]
  ]

'menu': [
    {
        label: 'Packages'
        submenu: [
            label:'Java - JEE Utilities',
            submenu:[
                {label: 'New Project Java', command: 'atom-jee-utilities:new-project-java'}
                {label: 'New Project JEE', command: 'atom-jee-utilities:new-project-jee'}
                {label: 'New Java Class', command: 'atom-jee-utilities:new-java-class'}
            ]
        ]
    }
]
